html, body {
  margin: 0;
  padding: 0;
  height: 100%;     /* REQUIRED */
}


.dropdown {
  position: absolute;
  top: 48px;
  right: 12px;
  background: #fff;
  border: 1px solid #ccc;
  display: none;   /* HIDE BY DEFAULT */
  flex-direction: column;
  width: 160px;
  z-index: 1001;
}
html, body { height:100%; margin:0; }

#map {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0; /*into account*/
    
}

#navbar {
  position: absolute;         /* stays above the map */
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: space-between; /* space left and right */
  padding: 0 12px;
  font-family: sans-serif;
}

/* Left group stays left */
#nav-left {
  flex: 0 0 auto;
}

/* Middle title is center-aligned text and can expand */
#nav-title {
  flex: 1 1 auto;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

/* Right group stays right */
#nav-right {
  flex: 0 0 auto;
}

.search-panel {
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
  padding: 12px;
  z-index: 1500;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.search-section {
  margin-bottom: 12px;
}

.search-section h4 {
  margin: 4px 0 6px 0;
  font-size: 14px;
}

.search-section label {
  margin-right: 12px;
  display: inline-block;
}

#apply-filters {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  font-size: 16px;
}



.leaflet-popup-content {
  max-height: 220px;
  overflow-y: auto;
}


